<div class="top_index">
  <div class="jumbotron">
    <h2>Top Page</h2>
    <p class="lead">wiringPiの簡易リファレンスです。</p>
  </div>

  <div class="introduction">
    <h2>Introduction</h2>
    <pre>#include &lt;wiringPi.h&gt;</pre>
    <p class="lead">とすることでwiringPiライブラリを利用できます。</p>
    <br>
    <pre>$ cc -o hoge(実行時に使う名前) hoge.c(ソースコードファイル名) -lwiringPi</pre>
    <p class="lead">でコンパイルを行い，</p>
    <pre>$ sudo ./hoge(コンパイル時に指定した実行名)</pre>
    <p class="lead">で実行します。</p>
  </div>
</div>
